<!doctype html>
<title>FlaskyMCFlaskFace</title>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul style="float: right; width: 50%">
    {% for category, message in messages %}
      {% if message is iterable and message is not string %}
        {% for line in message %}
          <li class="{{ category }}">{{ line }}</li>
	{% endfor %}
      {% else %}
        <li class="{{ category }}">{{ message }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div style="width: 50%">
  {% block body %}{% endblock %}
</div>
